.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #5757fd, #4d9aff, #6699fe, #53b3fc);
    }
    .table-bordered {
      border: 1px solid #dee2e6 !important;
    }
    
    .tr-tabela td,th{
        border: 1px solid #808080;
        padding: 5px 10px;
      }

      .header-beforetable{
        margin-top: 30px; 
        border: 1.0px solid; 
        border-color: silver;
        background: #E9ECEF;
      }

    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #fccb90;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #576afd, #2785ff, #3389f9, #3f91fb);
        }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    html { visibility:hidden; }
